* {
    -fx-font-family: "Gwent";
    -fx-font-size: 16px; /* Set your desired font size */
}

.ice-blue-button {
    -fx-background-color: #336274;
    -fx-text-fill: #D2E3D8;
    -fx-padding: 10px;
    -fx-border-color: #6994A2 ;
    -fx-border-width: 2px;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 15, 0.1, 0, 0); /* Drop shadow */
}
.brown-button {
    -fx-background-color: #4e342e; /* Brown background color */
    -fx-text-fill: white; /* White text color */
    -fx-font-size: 16px; /* Font size */
    -fx-padding: 8; /* Padding around the text, adjust as needed */
    -fx-border-color: #3e2723; /* Darker brown border color */
    -fx-border-width: 2px; /* Border width */
    -fx-border-insets: 2; /* Move border inwards */
    -fx-background-radius: 0; /* Rounded corners */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 15, 0.1, 0, 0); /* Drop shadow */
    -fx-cursor: hand; /* Change cursor to hand */
    -fx-transition: 0.3s; /* Add transition */
}

.brown-button:hover {
    -fx-background-color: #6d4c41; /* Slightly lighter brown background */
    -fx-border-color: #5d4037; /* Slightly lighter border color */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.9), 15, 0.1, 0, 0); /* Stronger shadow effect */
    -fx-cursor: hand;
    -fx-transition: 0.3s; /* Add transition */
}
.custom-checkbox {
    -fx-background-color: #575d81;
    -fx-text-fill: #f8ffed;
    -fx-border-width: 2;
    -fx-border-color: #707ab5;
}

.custom-text-field {
    -fx-background-color: #a79377;
    -fx-text-fill: #6b553c;
    -fx-border-width: 2;
    -fx-border-insets: 2;
    -fx-padding: 5;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: #6b553c;
    -fx-font-size: 16px;
    -fx-prompt-text-fill: #6b553c;
}

.profile-menu-titles {
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
}

.user-data-menu-title {
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
}
.white-text {
    -fx-fill: #ffffff !important;
    -fx-text-fill: #ffffff !important
}
.yellow-text {
    -fx-fill: #e2aa21 !important;
    -fx-text-fill: #e2aa21 !important;
}
.scoreboard-table {
    -fx-background-color: linear-gradient(to bottom, #a79377, #3e2723);
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10;
    -fx-border-radius: 8;
    -fx-border-width: 2;
    -fx-border-color: #3e2723;
    -fx-fill: #ffffff;
}
.column-header {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #ffffff;
    -fx-background-color: linear-gradient(to bottom, #a79377, #6b553c);
    -fx-text-fill: #ffffff;
}
.table-view {
    -fx-text-fill: #ffffff; /* Change to the color you desire */
}
.table-cell {
    -fx-text-fill: #ffffff;
    -fx-border-color: #3e2723;
}
.table-row-cell {
    -fx-background-color: #4e342e; /* Change to the color you desire */
}

.score-board-title {
    -fx-font-size: 40px;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 15, 0.1, 0, 0);
}

.pre-game-menu-label {
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
}

.scroll-pane-pre-game-menu {
    -fx-background-color: transparent;
    -fx-padding: 10;
}
.scroll-pane-pre-game-menu .viewport {
    -fx-background-color: transparent;
}
.transparent-background {
    -fx-background-color: transparent !important;
}

.flow-pane-pre-game-menu {
    -fx-background-color: transparent !important;
    -fx-padding: 10;
}

/* styles.css */

/* Style for the scroll pane */
.scroll-pane-pre-game-menu {
    -fx-background-color: transparent;
}

/* Style for the vertical scroll bar */
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
}

/* Style for the horizontal scroll bar */
.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

/* Style for the track of the scroll bar */
.scroll-pane .scroll-bar .track {
    -fx-background-color: #a79377;
    -fx-background-radius: 5;
}

/* Style for the thumb of the scroll bar */
.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #6b553c;
    -fx-background-insets: 2;
    -fx-background-radius: 5;
}

/* Style for the thumb when hovered */
.scroll-pane .scroll-bar .thumb:hover {
    -fx-background-color: #3e2723;
}

/* Style for the increment button of the scroll bar */
.scroll-pane .scroll-bar .increment-button {
    -fx-background-color: transparent;
}

/* Style for the decrement button of the scroll bar */
.scroll-pane .scroll-bar .decrement-button {
    -fx-background-color: transparent;
}

.faction-card {
    -fx-cursor: hand;
}
.monster-faction-card:hover {
    -fx-effect: dropshadow(gaussian, rgba(108, 31, 33, 1), 25, 0.1, 0, 0);
}

.nilfgaard-faction-card:hover {
    -fx-effect: dropshadow(gaussian, rgba(54, 50, 49, 1), 25, 0.1, 0, 0);
}

.realms-faction-card:hover {
    -fx-effect: dropshadow(gaussian, rgba(56, 61, 129, 1), 25, 0.1, 0, 0);
}

.scoiatael-faction-card:hover {
    -fx-effect: dropshadow(gaussian, rgba(36, 106, 43, 1), 25, 0.1, 0, 0);
}

.skellige-faction-card:hover {
    -fx-effect: dropshadow(gaussian, rgba(89, 56, 109, 1), 25, 0.1, 0, 0);
}

.faction-label {
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
}