* {
    -fx-font-family: "Gwent";
    -fx-font-size: 16px; /* Set your desired font size */
}

.ice-blue-button {
    -fx-background-color: #336274;
    -fx-text-fill: #D2E3D8;
    -fx-padding: 10px;
    -fx-border-color: #6994A2 ;
    -fx-border-width: 2px;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 15, 0.1, 0, 0); /* Drop shadow */
}
.custom-button {
    -fx-background-color: #4e342e; /* Brown background color */
    -fx-text-fill: white; /* White text color */
    -fx-font-size: 16px; /* Font size */
    -fx-padding: 8; /* Padding around the text, adjust as needed */
    -fx-border-color: #3e2723; /* Darker brown border color */
    -fx-border-width: 2px; /* Border width */
    -fx-border-insets: 2; /* Move border inwards */
    -fx-background-radius: 0; /* Rounded corners */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 15, 0.1, 0, 0); /* Drop shadow */
    -fx-cursor: hand; /* Change cursor to hand */
    -fx-transition: 0.3s; /* Add transition */
}

.custom-button:hover {
    -fx-background-color: #6d4c41; /* Slightly lighter brown background */
    -fx-border-color: #5d4037; /* Slightly lighter border color */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.9), 15, 0.1, 0, 0); /* Stronger shadow effect */
    -fx-scale-x: 1.05; /* Slightly scale up on hover */
    -fx-scale-y: 1.05; /* Slightly scale up on hover */
    -fx-transition: 0.3s; /* Add transition */
}
